/* General */
:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactive {
    display: none;
}

/* Navbar (general) */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
}
.logo {
    width: 100px;
}
.navbar_left ul,
.navbar_right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar_left {
    display: flex;
    margin-left: 12px;
}
.navbar_left ul {
    margin-left: 12px;
}
.navbar_right ul {
    margin-left: 12px;
}
.navbar_left ul li a,
.navbar_right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar_left ul li a:hover,
.navbar_right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar_email {
    color: var(--very-light-pink);
    cursor: pointer;
    font-size: var(--sm);
    margin: 12px;
}
.navbar_shopping_cart {
    position: relative;
}
.navbar_shopping_cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
}

/* Desktop menu */
.desktop_menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px;
}
.desktop_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop_menu ul li {
    text-align: end;
}
.desktop_menu ul li:nth-child(1),
.desktop_menu ul li:nth-child(2) {
    font-weight: bold;
}
.desktop_menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop_menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop_menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/* Mobile menu */
.mobile_menu {
    background-color: var(--white);
    padding: 24px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}
.mobile_menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 24px;
}
.mobile_menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;            
}
.mobile_menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);            
}
.mobile_menu ul li {
    margin-bottom: 30px;                     
}        
.email {            
    font-size: 14px;
    font-weight: 300 !important;
} 
.cerrar_sesion {
    font-size: 14px;
    color: #acd9b2 !important;
}

/* Aside (detalle de producto y carrito) */
aside {
    background-color: var(--white);
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

/* ShoppingCart */
#shoppingCartContainer {
    padding: 24px;
}
.title_container {
    display: flex;
}
.title_container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.titulo {
    font-size: var(--lg);
    font-weight: bold;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.shopping_cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping_cart figure {
    margin: 0;
}
.shopping_cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping_cart p:nth-child(2) {
    color: var(--very-light-pink);
}
.shopping_cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
.primary_button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}  

/* ProductDetail */
.product_detail_close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.product_detail_close:hover {
    cursor: pointer;
}
#productDetail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
#productDetail .product_info {
    margin: 24px 24px 0 24px;
}
#productDetail .product_info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
#productDetail .product_info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 32px;
}
#productDetail .product_info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 32px;
}
.primary_button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 50px;
}
.add_to_cart_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Lista de productos */
.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}
.product_card {
    width: 240px;
}
.product_card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;            
}
.product_card .product_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product_card .product_info figure {
    margin: 0;
}
.product_card .product_info figure img {
    width: 35px;
    height: 35px;
}
.product_card .product_info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product_card .product_info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .navbar_left ul {
        display: none;
    }
    .navbar_email {
        display: none;
    }
    .desktop_menu {
        display: none;
    }
    .aside {
        width: 100%;
    }
    .cards_container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product_card {
        width: 140px;
    }
    .product_card img {
        width: 140px;
        height: 140px;           
    }
}

@media (min-width: 641px) {
    .mobile_menu {
        display: none;
    }
}